.bg-green {
	background-color : #000000 !important
}
.bg-lightgreen {
	background-color : #98FB98 !important;
}

.smaller_img {
	width : 500px;
}

.screen_width_img {
	width: 100vw;
	height: 100vh;
}

.green_fade {
	 background-image: linear-gradient(#006600, white);
}

#shed_div {
	background-image: url('shed_compost.png');
}
#path_div {
	background-image: url('neutral_bg.png');
}
#windbreak_div {
	background-image: url('windbreak.png');
}
#orchard_div {
	background-image: url('orchard.png');
}
#riparian_div {
	background-image: url('riparian.png');
}
#grasses_div {
	background-image: url('grasses.png');
}
#keyhole_div {
	background-image: url('keyhole.png');
}
#invasive_div {
	background-image: url('neutral_bg.png');
}
#long_term_div {
	background-image: url('neutral_bg.png');
}

.bg_image {
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
	height : 500px;
}

.no_bg_image {
	background-image: url('neutral_bg.png') !important;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
}

.accordion:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.perm_0 {
	background-image: url('perm_0.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
	height : 700px;
}
.perm_1 {
	background-image: url('perm_1.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
	height : 700px;
}
.perm_2 {
	background-image: url('perm_2.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
	height : 700px;
}
.perm_3 {
	background-image: url('perm_3.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
	height : 700px;
}

.page_header {
	background-image: url('header.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
}

.neutral_bg {
	background-image: url('neutral_bg.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
}
h4, h5 {
	font-family: 'Helvetica Neue';
	font-weight: lighter;
	font-style : italic;
	
}

.white {
	background-color: #e5e2e1
}
h3,p {
	font-family: 'Helvetica Neue';
	font-style : italic;
}

h1 {
	font-size : 60px;
	font-family : 'Courier New';
	font-weight: 700
}

.test-abs {
	position: absolute;
	top: 0vh;
	left: 0vh;
}

.legend {
	position: absolute;
	top: 1vh;
	right: 5vw;
	background-color: white;
	margin: 12px;
	padding: 20px;
	z-index: 1;
}
.map_div {
	height : 100vh;
}

.hidden {
	display: none;
}