.bg-green {
	background-color : #000000 !important
}
.bg-lightgreen {
	background-color : #98FB98 !important;
}

.smaller_img {
	width : 500px;
}

.green_fade {
	 background-image: linear-gradient(#006600, white);
}

.perm_0 {
	background-image: url('perm_0.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
	height : 700px;
}
.perm_1 {
	background-image: url('perm_1.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
	height : 700px;
}
.perm_2 {
	background-image: url('perm_2.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
	height : 700px;
}
.perm_3 {
	background-image: url('perm_3.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
	height : 700px;
}

.page_header {
	background-image: url('header.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
}

.neutral_bg {
	background-image: url('neutral_bg.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	position: relative;
}
p, h3, h4, h5 {
	font-family: 'Helvetica Neue';
	font-weight: lighter;
	font-style : italic;
	
}

h1 {
	font-size : 60px;
	font-family : 'Courier New';
	font-weight: 700
}